<!DOCTYPE html>
<html lang="en" ng-app="emailGenApp">
<head>
	<meta charset="utf-8">
	<title>DUU Blast Generator</title>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.2/angular.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/0.71/jquery.csv-0.71.min.js"></script>
		<script type="text/javascript" src="http://cdn.jsdelivr.net/g/jquery.ui@1.10%28jquery.ui.core.min.js+jquery.ui.widget.min.js+jquery.ui.mouse.min.js+jquery.ui.sortable.min.js%29"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-sortable/0.13.4/sortable.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2014-11-29/FileSaver.min.js"></script>
		  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
		<!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
		<script type="text/javascript" src="controllers.js"></script>

	</head>

	<body id="home" ng-controller="EmailGenCtrl" style="background-color:#FFFFFF;">



	<md-sidenav class="md-sidenav-left md-whiteframe-8dp" md-component-id="left"  md-disable-backdrop>
      <md-toolbar class="md-theme-light">
        <h1 class="md-toolbar-tools">Edit Blast</h1>
      </md-toolbar>
      <md-content  layout-padding>

      <div style="text-align:center">
	  <md-button class="md-raised">
      <label for="csv-input">Select CSV Input</label>  
      </md-button> <input id="csv-input" type="file" class="ng-hide"> {{selFile}}
	  &nbsp<md-button class="md-raised md-primary" id="download-email" ng-click="saveHTML()"> Download Email </md-button>
	  	</div> 

		<md-input-container class="md-block" style="text-align:center">
		<label> Header Blurb </label>
		<textarea ng-model="blurb" value="" md-maxlength="500" rows=5 md-select-on-focus></textarea>
		</br>
		<md-button ng-click="newEvent()"><i class="icon-plus"></i> New Event </md-button>

		</md-input-container>

		<ul ui-sortable ng-model="events">
			<li class="event" ng-repeat="event in events">
			<div>
				<md-card>
     		   	<md-card-title>
         			<md-card-title-text>
           				<span class="md-headline">{{event["Event Title"]}}</span> 
         		 	</md-card-title-text> 
        		</md-card-title>
				
				<md-input-container>	
					<label> Event Title </label>
					<textarea  ng-model="event['Event Title']"  value="" md-maxlength="500" rows=5 md-select-on-focus></textarea>
				</md-input-container>

				<md-input-container class="md-block">
					<label> Event Blurb </label>
					<textarea ng-model="event['Event Blurb']" value="" md-maxlength="500" rows=5 md-select-on-focus></textarea>
				</md-input-container> 
				<md-input-container>
					<label> Links: </label>
					<textarea  ng-model="event['Hyperlinks to Include (if multiple, separate by commas)']"  value="" md-maxlength="500" rows=5 md-select-on-focus></textarea>
				</md-input-container> 

				<md-input-container>	
					<label> Image: </label>
					<textarea  ng-model="event['image']"   value="" md-maxlength="500" rows=1 md-select-on-focus></textarea>
				</md-input-container> 
				<md-card-actions>
					<md-button ng-click="deleteEvent(event)"> <i class="icon-remove"></i> Delete </md-button>
				</md-card-actions>

      			</md-card> 

			</div>
			</li>
		</ul>

	  
	  <md-button ng-click="close()" class="md-primary">

          Close Sidenav Right
        </md-button>
      </md-content>
    </md-sidenav>

		<h1 style="text-align: center">DUU Email Generator</h1>
		<div id="buttons" style="text-align: center">
		<div><md-button class="md-raised" ng-click="toggleLeft()">
       		Edit Blast
		</md-button>
    	 </div> 
			<div style="text-align:center">
		 <md-button class="md-raised md-primary" id="download-email" ng-click="saveHTML()"> Download Email </md-button>
		</div>
		<div id="generated-email">
			<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
			<html>
			<head>

				<title>DUU Blast</title>
				<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
				<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
				<!--[if !mso]><!-->
				<meta http-equiv="X-UA-Compatible" content="IE=edge" />
				<!--<![endif]-->

				<style type="text/css">

					.ReadMsgBody { width: 100%; background-color: #F6F6F6; }
					.ExternalClass { width: 100%; background-color: #F6F6F6; }
					body { width: 100%; background-color: #f6f6f6; margin: 0; padding: 0; -webkit-font-smoothing: antialiased; font-family: Arial, Times, serif }
					table { border-collapse: collapse !important; mso-table-lspace: 0pt; mso-table-rspace: 0pt; }

					@-ms-viewport{ width: device-width; }

					@media only screen and (max-width: 639px){
						.wrapper{ width:100%;  padding: 0 !important; }
					}

					@media only screen and (max-width: 480px){
						.centerClass{ margin:0 auto !important; }
						.imgClass{ width:100% !important; height:auto; }
						.wrapper{ width:320px; padding: 0 !important; } 
						.container{ width:300px;  padding: 0 !important; }
						.mobile{ width:300px; display:block; padding: 0 !important; text-align:center !important;}
						.mobile50{ width:300px; padding: 0 !important; text-align:center; }
						*[class="mobileOff"] { width: 0px !important; display: none !important; }
						*[class*="mobileOn"] { display: block !important; max-height:none !important; }
					}


					.content { 

					}

					.duuheader {
						width: 100%;
						background-color: #001A57;
						text-align: center;
						height: 100px;
					}

				</style>

    <!--[if gte mso 15]>
    <style type="text/css">
        table { font-size:1px; line-height:0; mso-margin-top-alt:1px;mso-line-height-rule: exactly; }
        * { mso-line-height-rule: exactly; }
    </style>
    <![endif]-->

</head>
<body marginwidth="0" marginheight="0" leftmargin="0" topmargin="0" style="background-color:#F6F6F6; font-family:Arial,serif; margin:0; padding:0; min-width: 100%; -webkit-text-size-adjust:none; -ms-text-size-adjust:none;">

	<!--[if !mso]><!-- -->
	<img style="min-width:640px; display:block; margin:0; padding:0" class="mobileOff" width="640" height="1" src="http://s23.postimg.org/rc3d9uryv/spacer.gif">
	<!--<![endif]-->

	<div class="duuheader"><img height="100px" src="http://s18.postimg.org/edkef33zd/insta64.png" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img height="100px" src="http://s18.postimg.org/e22y2bnjd/twitter64.png" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="http://s18.postimg.org/eu5m1irqd/logo.png" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img height="100px" src="http://s18.postimg.org/kwd8s0g6h/fb64.png" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img height="100px" src="http://s18.postimg.org/mlmc02vvt/email64.png" /></div>
	<!-- Start Background -->
	<table width="100%" cellpadding="0" cellspacing="0" border="0" bgcolor="#F6F6F6">
		<tr>
			<td width="100%" valign="top" align="center">
				<!-- Start Wrapper  -->
				<table width="640" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#FFFFFF">
					<tr>
						<td height="10" style="font-size:10px; line-height:10px;">   </td><!-- Spacer -->
					</tr>
					<tr>
						<td align="center">

							<!-- Start Container  -->
							<table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
								<tr>
									<td width="600" class="mobile" style="font-family:arial; font-size:12px; line-height:18px;">
										{{blurb}}
									</td>
								</tr>
							</table>
							<!-- Start Container  -->                   

						</td>
					</tr>
					<tr>
						<td height="10" style="font-size:10px; line-height:10px;"> </td><!-- Spacer -->
					</tr>                        
				</table> 
				<table width="640" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#FFFFFF">
					<tr>
						<td height="10" style="font-size:10px; line-height:10px;"> </td><!-- Spacer -->
					</tr>
					<tr>
						<td align="center">

							<!-- Start Container  -->
							<table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
								<tr>
								<td ng-repeat="event in events.slice(0,2)" width="300" class="mobile content" style="font-family:arial; font-size:12px; line-height:18px;">
										<!-- Copy paste this into a td tag -->
										<div class="content">
											<div class="event_logo" style="width: 50%; margin: 0 auto;">
												<img src="{{event['image']}}" alt="Event logo" width="100" height="100">
											</div>
											<div style="width: 50%; margin: 0 auto;">
												<h3> 
													{{event['Event Title']}}
												</h3>
											</div>
											<p class="event_summary" style="width: 50%; margin: 0 auto;">
												{{event["Event Blurb"].substring(0,100)}}
											</p>

											<div class="event_link" align="right">
												<a href="{{event['Hyperlinks to Include (if multiple, separate by commas)'].split(',')[0]}}">Learn More</a>
											</div>
										</div>
									</td>
								</tr>
							</table>
							<!-- Start Container  -->                   

						</td>
					</tr>
					<tr>
						<td height="10" style="font-size:10px; line-height:10px;"> </td><!-- Spacer -->
					</tr>                        
				</table> 
				<!-- End Wrapper  --> 
				<!-- Start Wrapper  -->

				<table width="640" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#FFFFFF">
					<tr>
						<td height="10" style="font-size:10px; line-height:10px;"> </td> <!-- Spacer -->
					</tr>
					<tr>
						<td align="center">

							<!-- Start Container  -->
							<table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
								<tr>
									<td ng-repeat="event in events.slice(2,5)" width="200" class="mobile content" style="font-family:arial; font-size:12px; line-height:18px;">
										<div class="content">
											<div class="event_logo" style="width: 50%; margin: 0 auto;">
												<img src="{{event['image']}}" alt="Event logo" width="100" height="100">
											</div>
											<div style="width: 50%; margin: 0 auto;">
												<h3> 
													{{event['Event Title']}}
												</h3>
											</div>

											<p class="event_summary" style="width: 50%; margin: 0 auto;">
												{{event["Event Blurb"].substring(0,100)}}
											</p>

											<div class="event_link" align="right">
												<a href="{{event['Hyperlinks to Include (if multiple, separate by commas)'].split(',')[0]}}">Link</a>
											</div>
										</div>
									</td>           
									</tr>
								</table>
								<!-- Start Container  -->                   

							</td>
						</tr>
						<tr>
							<td height="10" style="font-size:10px; line-height:10px;"> </td> <!-- Spacer -->
						</tr>                        
					</table> 
					<!-- End Wrapper  --> 
					<!-- Start Wrapper  -->
					<table width="640" cellpadding="0" cellspacing="0" border="0" class="wrapper" bgcolor="#FFFFFF">
						<tr>
							<td height="10" style="font-size:10px; line-height:10px;"> </td><!-- Spacer -->
						</tr>
						<tr>
							<td align="center">

								<!-- Start Container  -->
								<table width="600" cellpadding="0" cellspacing="0" border="0" class="container">
									<tr>
										<td ng-repeat="event in events.slice(5, 9)" width="150" class="mobile content" style="font-family:arial; font-size:12px; line-height:18px;">
											<!-- Copy paste this into a td tag -->
											<div class="content">
												<div class="event_logo" style="width: 50%; margin: 0 auto;">
													<img src="{{event['image']}}" alt="Event logo" width="100" height="100">
												</div>
											<div style="width: 50%; margin: 0 auto;">
												<h3> 
													{{event['Event Title']}}
												</h3>
											</div>
												<p class="event_summary" style="width: 50%; margin: 0 auto;">
													{{event["Event Blurb"].substring(0,100)}}
												</p>

												<div class="event_link" align="right">
													<a href="{{event['Hyperlinks to Include (if multiple, separate by commas)'].split(',')[0]}}">Link</a>
												</div>
											</div>
										</td>  
									</tr>
								</table>
								<!-- Start Container  -->                   

							</td>
						</tr>
						<tr>
							<td height="10" style="font-size:10px; line-height:10px;"> </td><!-- Spacer -->
						</tr>                        
					</table> 
					<!-- End Wrapper  --> 
				</td>
			</tr>
		</table>
		<!-- End Background -->

	</body>
	</html>
</div>

</body>
</html>
