.event {
	list-style: none; 
	border-radius: 5px;
	width: 100;
	padding: 5px;
	margin: 5px;
}

.event:hover {
	cursor: move;
}
body {
	margin: 10px;
	margin-left: 20px;
	margin-right:20px;
}
md-sidenav, md-sidenav.md-locked-open, md-sidenav.md-closed.md-locked-open-add-active {
 min-width: 200px !important;
 width: 500px!important;
 max-width: 500px !important;
}
